body {
    
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    background-color: #333333;
    color: #ffffff;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.required {
    color: red;
}

.toggle-container {
    position: relative;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s;
    border-radius: 25px;
    position: relative;
}

.toggle-button {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.toggle-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: #7b68ee;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}

.toggle-handle {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(123, 104, 238, 0.5); /* Semi-transparent background */
    border-radius: 25px;
    transition: left 0.5s ease-in-out; /* Smoother transition */
    z-index: 0;
    left: 0; /* Ensure the handle starts at the correct position */
}

.toggle-checkbox:checked + .toggle-label .toggle-handle {
    left: 50%;
}




.btn-submit{
    background-color: #61bdff;
    border-color: #61bdff;
    margin-top: 10px;
    text-align: right;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
}
.center{
    text-align: center;
}
    

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);  /* Semi-transparent background */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    margin: 10px;
}






/************************       SIDE BAR CSS        *********************/
app-user-side-bar {
    width: 70px; /* Initial width of the sidebar */
    transition: width 0.3s ease-in-out;
  }
  
  app-user-side-bar:hover {
    width: 250px; /* Expand width when hovering */
  }
  
  /* Main Content Styling */
  .main-content {
    margin-top: 60px;
    margin-left: 70px; /* Default margin for the sidebar */
    transition: margin-left 0.3s ease-in-out;
  }
  
  /* When the sidebar is hovered, shift the main content */
  app-user-side-bar:hover + .main-content {
    margin-left: 250px; /* Adjust margin when sidebar expands */
  }

  app-user-side-bar:hover + .main-content .navbar {
    left: 250px; /* Adjust navbar when sidebar is expanded */
  }


  /*************************    SEARCH BAR CSS  ***********************************/



  .navbar {
    position: fixed;
    top: 5px;
    left: 70px; /* Adjusted based on sidebar width */
    right: 5px;
    background-color: #e3f2fd;
    border-radius: 15px;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: left 0.3s ease 0.1s; /* Smooth transition for left position */
  }
  .navbar .form-inline {
    display: flex;
    align-items: center;
  }
  .navbar input[type="search"] {
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  
  /* Search icon style */
  .navbar i {
    font-size: 25px;
  }