<div class="list-container">
  <app-navbar2></app-navbar2>
  
  <div class="main-content">
      <nav class="navbar">
        <span>
          Welcome 
          <ng-container *ngIf="user.nom; else loading"> 
            {{ user.nom }}
          </ng-container>
          <ng-template #loading>
            Loading...
          </ng-template>
        </span>
          <form class="form-inline">
            <input
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="hh"
              style="border-radius: 25px; margin-right: 10px; margin-bottom: 2px;"
              [(ngModel)]="searchtext">
            <i class="bi bi-search" style="font-size: 25px;"></i>
          </form>
        </nav>
        <div class="right">
          <button class="adduser" routerLink="/addproduct"><i class="bi bi-plus-circle"> add a new product</i></button>
      </div>
      <div style="margin-right: 10px;">
        <table >
          <thead>
              <th>Identifiant</th>
              <th>Image</th>
              <th>Nom</th>
              <th>Categorie</th>
              <th>Stock</th>
              <th>Prix</th>
              <th>update</th>
          </thead>
          <tbody>
              <tr *ngFor="let p of products |filter:searchtext">
                  
                  <td>{{p.productId}}</td>
                  
                  <td  class="image-box" [style.background-image]="'url(' + 'data:image/png;base64,' + p.image + ')'"></td>
                  <td>{{p.nom}}</td>
                  <td>{{p.categorie}}</td>
                  <td>{{p.stock}}</td>
                  <td>{{p.prix}}</td>
                  
                  <td><button class="action-button" ><i class="bi bi-pencil-square" (click)="openUpdateModal(p.productId,updateModal)"></i></button></td>
              </tr>
          </tbody>
        </table>
      </div>



  </div>



  
</div>





<ng-template #confirmModal>
<div class="modal-body">
  <h4>Are you sure you want to proceed?</h4>
  <div class="d-flex justify-content-end" style="margin-bottom: 10px;">
    <button class="btn btn-danger" style="margin-right: 10px;" >Yes, Proceed</button>
    <button class="btn btn-secondary" (click)="cancelAction()">Cancel</button>
  </div>
</div>
</ng-template>





<!-- Modal for Editing Product Info -->
<ng-template #updateModal>
  <div class="modal-body">
    <h4 style="text-align: center;">Edit the product infos to proceed?</h4>
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
      <form (ngSubmit)="updateProduct(productForm)" #productForm="ngForm" style="width: 500px;">


        <div class="banner-image" [style.background-image]="'url(' + 'data:image/png;base64,' + product.image + ')'"></div>
        <div class="form-group">
          <label>Product name <span style="color: red; font: bold;">*</span></label>
          <input type="text" required name="nom" [(ngModel)]="product.nom">
        </div>
        <div class="form-group">
          <label>Image </label>
          <input type="file" required name="img" (change)="validateFile($event)" accept=".png, .jpg, .jpeg">
        </div>
        <div class="form-group">
          <label>Description <span style="color: red; font: bold;">*</span></label>
          <input type="text" required name="description" [(ngModel)]="product.description">
        </div>
        <div class="form-group">
          <label>Stock <span style="color: red; font: bold;">*</span></label>
          <input type="number" required id="stck" name="stock" [(ngModel)]="product.stock" min="1">
        </div>
        <div class="form-group">
          <label>Prix <span style="color: red; font: bold;">*</span></label>
          <input type="number" required id="prix" name="prix" [(ngModel)]="product.prix" min="100">
        </div>
        <div class="form-group">
          <label>Categorie <span style="color: red; font: bold;">*</span></label>
          <input type="text" required name="categorie" [(ngModel)]="product.categorie">
        </div>
        <div class="center">
          <button class="btn-submit" type="submit"><i class="bi bi-bookmark-check">Submit</i></button>
          <button style="margin-left: 10px;" class="btn-submit" type="button"><i class="bi bi-bookmark-dash" (click)="closeModal()">Cancel</i></button>
        </div>
      </form>
      
    </div>
  </div>
</ng-template>
