/* Customize Toast container */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  
  .shake-toast {
    animation: shake 0.6s ease-out 2;
  }
  

.login-warning{
    position: fixed;
    left: 5px;
    top: 100px;
}

.false-login{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.fields-warning{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
}


.toast-container {
    position: fixed;
    top: 20px;  /* Adjust the vertical positioning */
    right: 20px;  /* Adjust the horizontal positioning */
    z-index: 9999; /* Ensure the toasts are above other elements */
  }
  
  /* Customize the success toast */
  .toast-success {
    background-color: #28a745 !important; /* Green background */
    color: #fff !important; /* White text */
    border-radius: 8px; /* Rounded corners */
    font-family: Arial, sans-serif; /* Font family */
    padding: 15px 20px; /* Add some padding */      
  }
  
  /* Customize the error toast */
  .toast-error {
    background-color: #dc3545 !important; /* Red background */
    color: #fff !important; /* White text */
    border-radius: 8px; /* Rounded corners */
    font-family: Arial, sans-serif; /* Font family */
    padding: 15px 20px; /* Add some padding */
  }

  .cart-toast-sucess{
    position: fixed;
    right: 10px;
    z-index: 1000;
  }
  
  /* Customize the info toast */
  .toast-info {
    background-color: #17a2b8 !important; /* Blue background */
    color: #fff !important; /* White text */
    border-radius: 8px; /* Rounded corners */
    font-family: Arial, sans-serif; /* Font family */
    padding: 15px 20px; /* Add some padding */
  }
  
  /* Customize the warning toast */
  .toast-warning {
    background-color: #ffc107 !important; /* Yellow background */
    color: #fff !important; /* White text */
    border-radius: 8px; /* Rounded corners */
    font-family: Arial, sans-serif; /* Font family */
    padding: 15px 20px; /* Add some padding */
  }
  
  /* Optional: Customize the toast title */
  .toast-title {
    font-weight: bold; /* Make the title bold */
    text-transform: uppercase; /* Capitalize the title */
  }
  


  /**********  back ground image in body**********/
  
  body {
    background: url('assets/background-neon.jpg') no-repeat center center fixed;
    background-size: contain; /* Maintain image quality by not cropping it */
    image-rendering: auto;    /* Ensures the browser renders the image smoothly */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }