<div class="list-container">
    <app-navbar2></app-navbar2>
    
    <div class="main-content">
        <nav class="navbar">
            <span>Welcome Admin</span>
            <form class="form-inline">
              <input
                type="search"
                placeholder="Search"
                aria-label="Search"
                style="border-radius: 25px; margin-right: 10px; margin-bottom: 2px;">
              <i class="bi bi-search" style="font-size: 25px;"></i>
            </form>
          </nav>
          <div class="right">
            <button class="adduser" routerLink="/add-user"><i class="bi bi-person-plus"> add a new user</i></button>
        </div>
          <table>
            <thead>
                <th>username</th>
                <th>email</th>
                <th>role</th>
                <th>example</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    
                    <td><span class="initials" style="background-color: #aed9e0;">AM</span> Adam Monroe</td>
                    <td>a.monroeuxtivity.com</td>
                    <td>Team member</td>
                    <td>Owner</td>
                    <td><button class="action-button">🗑️</button></td>
                </tr>
                <tr>
                    
                    <td><span class="initials" style="background-color: #f7c5c4;">EW</span> Emily Wegner</td>
                    <td>e.wegnerxtivity.com</td>
                    <td>Team member</td>
                    <td>Editor</td>
                    <td><button class="action-button">🗑️</button></td>
                    <td><button class="action-button">♥</button></td>
                </tr>
                <tr>
                    
                    <td><span class="initials" style="background-color: #aed9e0;">AM</span> Adam Monroe</td>
                    <td>a.monroextivity.com</td>
                    <td>Team member</td>
                    <td>Owner</td>
                    <td><button class="action-button">🗑️</button></td>
                </tr>
            </tbody>
          </table>



    </div>



    
</div>