<html>
<head>
    <link rel="stylesheet" href="login.component.css"/>
</head>
<body class="form-v10" >
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail" action="#" method="post" id="myform">
				<div class="form-left">
					<h2>Login</h2>
					<div>
						<div class="form-row form-row-1">
							<input type="text" name="email" id="email" class="input-text" placeholder="email" required>
						</div>
						<div class="form-row form-row-2">
							<input type="password" name="password" id="password" class="input-text" placeholder="password" required>
						</div>
					</div>
                    <div class="form-row-last">
                        <input type="submit" name="login" class="login" value="Login">
                    </div>
                    
				</div>
				<div class="form-right">
					<h2>New Registration</h2>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="Nom" class="input-text" id="nom" placeholder="nom" required>
						</div>
						<div class="form-row form-row-2">
							<input type="text" name="prenom" class="input-text" id="prenom" placeholder="prenom" required>
						</div>
					</div>
					<div class="form-row">
						<input type="text" name="your email" id="your_email" class="input-text" required placeholder="Your Email">
					</div>
                    <div class="form-row">
						<input type="password" name="your password" id="your_password" class="input-text" required placeholder="Your Password">
					</div>
                    <div class="form-row">
						<input type="password" name="confirm your password" id="confirm_password" class="input-text" required placeholder="Confirm Your Password">
					</div>
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Register">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>